.inner_div {
    width: 65%;
    top: 10%;
    margin: auto;
    justify-content: space-around;
  }
  span {
      text-align: center;
      font-weight: 700;
      font-size: 35px;
      color: rgb(17, 71, 115);
      display: flex;
  }
  h2 {
      font-size: 30px;
  }
  img {
      width: 50%;
  }
  .asd {
    margin: auto;
  }
  .main_container {
      width: 50%;
      position: relative;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding:6% 6%;
  }
  button{
      background-color:#1A73E8;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size:20px;
      padding:10px 30px;
      margin:10px 20px;
      border-radius: 7px;
      transition: transform 0.1s ease-in-out;
  }
  button:active{
      transform: scale(0.90);
  }
  button:hover {
      opacity:0.85;
  }
  h1{
      font-weight: 500;
      color: rgb(52, 48, 48);
  }
  
  .main_container>div:nth-child(2){
    width:400px;
      display: flex;
      margin: auto;
  }
  .main_container>div:nth-child(2)>h1{
      width:100px;
  }
  .main_container>div:nth-child(2)>div{
      width:300px;
      display: flex;
      justify-content: space-around;
  } 