.container {
  display: flex;
  border-radius: 0.5rem;
  gap: 2rem;
  padding: 2rem;
  margin: 0.5rem;
  background-color: rgb(194, 211, 222);
  width: 70%;
  margin: 1% auto;
}

.container:hover {
  box-shadow: 2px 2px #888888;
  transition: 1rem;
  transform: scaleX(1.04);
  transition:0.4s;
}