.App {
  text-align: center;
}
.card{
  background-color: white;
  width: 30%;
  margin: 5% auto;
  }
  img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.main_div{
    display: flex;
    border-bottom: 1px solid rgb(207, 201, 201);
    margin-bottom: 3%;
    gap: 6%;
    padding: 1%;
    cursor: pointer;
}
p {
font-weight: bolder;
font-size: 20px;
margin: 0;
text-align: left;
}
.details_div p:nth-child(2){
    margin: 0;
    color: rgb(147, 144, 144);
    font-weight: bold;
    font-size: 14px;
}
h2 {
  color: rgb(15, 15, 141);
}
h4 {
  color: gray;
}
